<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
        <input type="text" formControlName="title" placeholder="Digite o título" matInput />
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <!-- <br> -->
    <div>
      <input type="file" #picture (change)="onImagePicked($event)">
      <button class="image" (click)="picture.click()" mat-stroked-button type="button">
        Pick image
      </button>
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea rows="6" formControlName="description" placeholder="Digite a descrição" matInput></textarea>
    </mat-form-field>
    <mat-error *ngIf="form.get('description').invalid">
      Inválido
    </mat-error>
      <button
      [disabled]=""
      mat-raised-button
      color="accent"
      type="submit"
      >Save Post</button>
  </form>
</mat-card>
